{{#if (gt avg_rating 0)}}
<span class="star-rating" role="img" aria-label="Rating: {{avg_rating_display}} out of 5 stars from {{default rating_count "0"}} reviews">
    {{#if (gt avg_rating 0.5)}}<span class="star star-filled" aria-hidden="true">&#9733;</span>{{else}}<span class="star star-empty" aria-hidden="true">&#9733;</span>{{/if}}
    {{#if (gt avg_rating 1.5)}}<span class="star star-filled" aria-hidden="true">&#9733;</span>{{else}}<span class="star star-empty" aria-hidden="true">&#9733;</span>{{/if}}
    {{#if (gt avg_rating 2.5)}}<span class="star star-filled" aria-hidden="true">&#9733;</span>{{else}}<span class="star star-empty" aria-hidden="true">&#9733;</span>{{/if}}
    {{#if (gt avg_rating 3.5)}}<span class="star star-filled" aria-hidden="true">&#9733;</span>{{else}}<span class="star star-empty" aria-hidden="true">&#9733;</span>{{/if}}
    {{#if (gt avg_rating 4.5)}}<span class="star star-filled" aria-hidden="true">&#9733;</span>{{else}}<span class="star star-empty" aria-hidden="true">&#9733;</span>{{/if}}
    <span class="star-text">{{avg_rating_display}} ({{default rating_count "0"}})</span>
</span>
{{else}}
<span class="star-rating" role="img" aria-label="No ratings yet">
    <span class="star star-empty" aria-hidden="true">&#9733;</span><span class="star star-empty" aria-hidden="true">&#9733;</span><span class="star star-empty" aria-hidden="true">&#9733;</span><span class="star star-empty" aria-hidden="true">&#9733;</span><span class="star star-empty" aria-hidden="true">&#9733;</span>
    <span class="star-text">0.0 (0)</span>
</span>
{{/if}}
